<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key ="Server" value="xxx"/>
        <add key="Username" value="xxx"/>
        <add key="Password" value="xxx"/>
        <add key="Database" value="xxx"/>
        <add key="StartsWith" value="xxx"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
